<% if @events.any? %>
  <h2>イベント一覧</h2>
  <ul>
    <% @events.each do |event| %>
      <li><%= link_to event.name, event_path(event) %></li>
      <div><%= event.hold_date %></div>
      <div>開催場所:<%= event.hold_place %></div>
    <% end %>
  </ul>
<% else %>
  <p>該当するイベントはありません。</p>
<% end %>