<%- if controller_name != 'sessions' %>
  <p>登録済みの場合は<%= link_to "こちら", new_session_path(resource_name) %>からログインしてください<p></p><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p>登録がお済み出ない方は<%= link_to "こちら", new_registration_path(resource_name) %></p><br />
<% end %>