
  <% if @post.post_images.attached? %>
    <% @post.post_images.each do |image| %>
        <%= image_tag image.variant(resize:'500×500') %>
    <% end %>
  <% end %>

  <div id="favorite_btn_<%= @post.id %>">
    <%= render "public/favorites/btn", post: @post %>
  </div>