<h1>会員一覧（管理者向け）</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <%= form_with model: user, url: admin_user_path(user.id) do |f| %>
            <%= f.select :is_deleted, options_for_select({ "退会" => true, "有効" => false }, f.object.is_deleted) %>
            <%= f.submit '更新' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>