

  <h4>いいねした投稿</h4>
  <% @favorited_posts.each do |posts| %>
    <%= link_to event_post_path(posts.event_id,posts.id) do %>
      <div><%= image_tag posts.post_images[0].variant(resize:'500x500') %></div>
    <% end %>
      <div><%= posts.text %></div>
  <% end %>